.calculator {
    border: 1px solid rgba(184, 188, 185, 0.42);
    border-radius: 5px;
    padding: 25px;
}
.calculator .row-content {
    padding-bottom: 10px;
    margin-bottom: 25px;
}
.calculator .col-title {
    padding-top: 5px;
}
.calculator .col-content {
    text-align: right;
}
.calculator .row-slider {
    margin-top: 10px;
}
.calculator input[type="text"] {
    display: inline-block;
    max-width: 80px;
    text-align: right;
}
.calculator .min-value-text {
}
.calculator .max-value-text {
    text-align: right;
}
.payment {
    overflow-x: auto;
    margin-top: 20px;
    padding-bottom: 10px;
    display: none;
}
.payment > .row {
    display: table;
    border: 1px solid #c3c3c3;
}
.payment .column {
    display: table-cell;
    border-right: 1px solid #c3c3c3;
    text-align: right;
    vertical-align: top;
}
.payment .column:last-child {
    border-right: none;
}
.payment .column.first {
    min-width: 160px;
    text-align: left;
}
.payment .column.first div:last-child {
    font-weight: bold;
}
.payment .column.totals {
    min-width: 100px;
}
.payment .column:first-child div:last-child {
    font-weight: bold;
}
.payment .column div {
    display: block;
    white-space: nowrap;
    min-height: 26px;
    border-bottom: 1px solid #c3c3c3;
    padding-left: 10px;
    padding-right: 10px;
}
.payment .column div:first-child {
    text-align: left;
    font-weight: bold;
}
.payment .column div:last-child {
    border-bottom: none;
}
.navbar .title a, .navbar .title a:hover {
    color: #ffffff;
    text-decoration: none;
}
.task-1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.row-center {
    text-align: center;
    margin-top: 50px;
}